/venv
/cg_predict_price/__pycache__
/cg_predict_price/encoder/__pycache__
/cg_predict_price/scraper/__pycache__
/cg_predict_price/writer/__pycache__
/cg_predict_price/serializer/__pycache__
/cg_predict_price/data

/build
/dist
/cg_predict_price.egg-info